.container.app {
    flex-direction: column;
    /* height: 100vh; */
}

.body {
    /* background-color: red; */
    flex-shrink: 1;
    height: 100%;
}

.auth-form {
    width: 80%;
}

div.btn-submit {
    justify-content: center;
}

button.btn {
    width: 160px;
}

.category-form {
    align-items: center;
    justify-content: center;
}

.btn-filter {
    margin-top: 0 !important;
    margin-left: 8px;
}